.card{
    border: 1px solid black;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: #232323;
    border-radius: 10px;
    h3{
        color: white;
        
    }
}

.card-title{
    margin-left: auto;
    margin-right: auto;
}

.card-body{
    background-color: #616161;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
}

.card-stats{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.card-stats-type{
    color: rgb(0, 0, 0);
    background-color: coral;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin-right: 4px;
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}